.rollBtn {
    -fx-text-fill: white;
    -fx-font-family: "Arial Narrow";
    -fx-font-weight: bold;
    -fx-background-color: linear-gradient(#61a2b1, #2A5058);
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
}
.rollBtn:hover {
    -fx-background-color: linear-gradient(#2A5058, #61a2b1);
}

.out {
    -fx-background-color: rgba(53,89,119,0.4);
}